<%= form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <li class="item">
        <%= f.check_box :chocolate %> I like <%= label_tag :chocolate %>
      </li>
      <li class="item">
        <%= f.check_box :rainbows %> I like <%= label_tag :rainbows %>
      </li>
      <li class="item">
        <%= f.check_box :puppies %> I like <%= label_tag :puppies %>
      </li>
      <% if Rails.env.development? %>
        <li class="item">
          <%= f.check_box :cash %> I like <%= label_tag :cold_hard_cash %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= submit_tag %>
<% end %>
