<p id="notice"><%= notice %></p>

<h1>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Likes Chocolate?</th>
      <th>Likes Rainbows?</th>
      <th>Likes Puppies?</th>
      <th>Likes Cash?</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.chocolate %></td>
        <td><%= survey.rainbows %></td>
        <td><%= survey.puppies %></td>
        <td><%= survey.cash %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %> |
